/* ========================== Component Name ========================== */
$component: hero-6;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
  position: relative;
  padding: 75px 0;
  z-index: 1;
}

.$(component) {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
  }

  &__content {
    width: 90%;
    max-width: 362px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    z-index: 10;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    height: auto;
    z-index: 15;
  }

  /* ========================== Modifiers ========================== */
  &--center {
    justify-content: center;

    .$(component)__content {
      text-align: center;
    }
  }

  &--right {
    justify-content: flex-end;

    .$(component)__content {
      text-align: right;
    }
  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
  &__wave--white {
    path {
      fill: white;
    }
  }

  &.fir--light {
    .$(component)__title {
      color: var(--light);
    }
  }

  &.fir--dark {
    .$(component)__title {
      color: var(--dark);
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM {
  padding: 100px 0 75px;

  .$(component){
  }
}

/* ================ Query: Medium */
$(is).MD {

  .$(component){
    &__content {
      background: transparent;
      padding: 0;
    }
  }
}

/* ================ Query: Large */
$(is).LG {
  padding: 125px 0 100px;

  .$(component){
  }
}

/* ================ Query: Xtra Large */
$(is).XL {
  padding: 250px 0 100px;

  .$(component){
  }
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
